{% extends "base.html" %}
{% block content %}
    <div class="flex w-full flex-grow">
        <div class="flex flex-col gap-20 items-center flex-grow card bg-white rounded-box px-8 py-10">
            <div style="background-color: #e1eae1;" class="stats">
                <div class="stat place-items-center">
                    <div style="color: #13250e;" class="stat-title">Total Reservations</div>
                    <div style="color: #13250e;" class="stat-value">{{ reservations|length }}</div>
                </div>
                <div class="stat place-items-center">
                    <div style="color: #13250e;" class="stat-title">Occupation</div>
                    <div style="color: #13250e;" class="stat-value">{{ occupation }} %</div>
                    <div style="color: #13250e;" class="stat-desc">{{ occupied }} / total {{ vehicles }} vehicles</div>
                </div>
                <div class="stat place-items-center">
                    <div style="color: #13250e;" class="stat-title">Total Revenue</div>
                    <div style="color: #13250e;" class="stat-value">{{ revenue }} Day/s</div>
                </div>
            </div>
            <div style="background-color: #e1eae1;" class="stats">
                <div class="stat place-items-center">
                    <div class="overflow-x-auto">
                        <table style="color: #13250e;" class="table">
                            <thead>
                            <tr>
                                <th style="color: #13250e;">Number</th>
                                <th style="color: #13250e;">User</th>
                                <th style="color: #13250e;">Date</th>
                                <th style="color: #13250e;">vehicles</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for res in reservations %}
                                <tr>
                                    <th style="color: #13250e;">{{ loop.index }}</th>
                                    <td style="color: #13250e;">{{ res.user.username }}</td>
                                    <td style="color: #13250e;">{{ res.date }}</td>
                                    <td style="color: #13250e;">{{ res.rental_vehicle.id }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
