{% extends "base.html" %}
{% block content %}
    <div class="flex w-full flex-grow">
        <div class="flex flex-col gap-20 items-center flex-grow card bg-white rounded-box px-8 py-10">
            <div style="background-color: #e1eae1;" class="card flex-shrink-0 w-full max-w-sm shadow-2xl">
                <div class="card-body">
                    <h1 style="color: #13250e;" class="text-5xl font-bold text-center">Login</h1>
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <div style="color: #13250e;" class="form-control">
                            {{ form.username.label }}
                            {{ form.username(size=32) }}
                            {% for error in form.username.errors %}
                                <label class="label">
                                    <span class="text-red-400 label-text-alt">{{ error }}</span>
                                </label>
                            {% endfor %}
                        </div>
                        <div style="color: #13250e;" class="form-control mt-3">
                            {{ form.password.label }}
                            {{ form.password(size=32) }}
                            {% for error in form.password.errors %}
                                <label class="label">
                                    <span class="text-red-400 label-text-alt">{{ error }}</span>
                                </label>
                            {% endfor %}
                        </div>
                        <div class="form-control mt-6">{{ form.submit() }}</div>
                    </form>
                </div>
            </div>
            <div style="background-color: #e1eae1;" class="card flex-shrink-0 w-full max-w-sm shadow-2xl">
                <div style="background-color: #e1eae1;" class="card flex-shrink-0 w-full max-w-sm shadow-2xl">
                    <div class="text-center lg:text-left">
                        <div style="color: #13250e;" class="card-body">
                            <h1 class="text-5xl font-bold text-center">No Login?</h1>
                            <p class="py-6">Please Login to use the application. As a logged in user you can reserve a
                                company vehicles. If you don't have an account yet, register below</p>
                            <a class="btn btn-secondary mt-r text-sm" href="{{ url_for("auth.register") }}">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
