{% extends "base.html" %}
{% block content %}
    <div style="background-color: #ffffff;" class="hero flex-grow">
        <div style="background-color: #e1eae1;" class="card flex-shrink-0 w-full max-w-sm shadow-2xl">
            <div style="background-color: #e1eae1;" class="card flex-shrink-0 w-full max-w-sm shadow-2xl">
                <div class="hero-content text-center">
                    <div class="max-w-md">
                        <h1 style="color: #13250e;" class="text-5xl font-bold">Not found</h1>
                        <p style="color: #13250e;" class="py-6">
                            Oops!
                            404 - Page not Found
                            The page you are looking for might have been removed had its name changed or is temporarily
                            unavailable....</p>
                        </p>
                        <a href="{{ url_for("rental.index") }}" class="btn btn-primary">To start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
