<!-- Erbt von der Basis-Template-Datei 'base.html'. -->
{% extends "base.html" %}
<!-- Beginn des Inhaltsblocks, der in 'base.html' definiert ist. -->
{% block content %}
<!-- Hauptcontainer mit weißem Hintergrund. -->
    <div style="background-color: #ffffff;" class="hero flex-grow">
        <!-- Kartencontainer mit spezifischer Hintergrundfarbe und Schatteneffekt. -->
        <div style="background-color: #e1eae1;" class="card flex-shrink-0 w-full max-w-sm shadow-2xl">
            <!-- Wiederholung des Kartencontainers könnte auf einen Fehler hinweisen oder beabsichtigt sein für zusätzlichen Schatten. -->
            <div style="background-color: #e1eae1;" class="card flex-shrink-0 w-full max-w-sm shadow-2xl">
                <!-- Zentrierter Inhalt innerhalb des Heldenbereichs. -->
                <div class="hero-content text-center">
                    <!-- Beschränkt die maximale Breite des Inhaltsbereichs. -->
                    <div class="max-w-md">
                        <!-- Überschrift für den Serverfehler. -->
                        <h1 style="color: #13250e;" class="text-5xl font-bold">Error</h1>
                        <!-- Beschreibung des Fehlers und Aufforderung zur Neuladung der Seite. -->
                        <p style="color: #13250e;" class="py-6">
                            Oops!
                            500 - Server Error
                            Oops, something went wrong.
                            The server encountered an internal error or misconfiguration and was unable to complete your
                            request.
                            Please reload this page.
                        </p>
                        <!-- Link, um zur Startseite zurückzukehren. -->
                        <a href="{{ url_for("rental.index") }}" class="btn btn-primary">To start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
