<!DOCTYPE html>
<html>
<head class="min-h-screen">
    <!-- Setzt den Titel der Seite. Wenn 'title' vorhanden ist, wird es zu "Company Vehicles" ergänzt, sonst nur "Company Vehicles". -->
    {% if title %}
        <title>Company Vehicles - {{ title }}</title>
    {% else %}
        <title>Company Vehicles</title>
    {% endif %}
    <!-- Apple Touch Icon für Lesezeichen und Home-Screen-Verknüpfungen auf Apple-Geräten. -->
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{{ url_for('static',filename='apple-touch-icon.png') }}"
    />
     <!-- Webseiten-Favicon in verschiedenen Größen für unterschiedliche Geräte. -->
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="{{ url_for('static',filename='favicon-32x32.png') }}"
    />
    <!-- Webseiten-Favicon in verschiedenen Größen für unterschiedliche Geräte. -->
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{{ url_for('static',filename='favicon-16x16.png') }}"
    />
    <!-- Webmanifest-Datei für PWA-Eigenschaften und Installation auf Geräten. -->
    <link
            rel="manifest"
            href="{{ url_for('static',filename='site.webmanifest') }}"
    />
    <!-- Einbindung von Tailwind CSS für Styling. -->
    <link
            rel="stylesheet"
            href="{{ url_for('static',filename='css/tailwind.css') }}"
    />
</head>
<body class="flex flex-col min-h-screen">
<!-- Inkludiert zusätzliche Komponenten wie Benachrichtigungen ('flash.html') und den Kopfbereich ('header.html'). -->
{% include 'components/flash.html' %} {% include 'components/header.html' %}
<!-- Hauptinhalt-Bereich, der durch 'block content' in abgeleiteten Templates gefüllt wird. -->
<div class="flex-grow flex flex-col">{% block content %}{% endblock %}</div>
</body>
</html>
