<!-- Importiert eine Komponente für Kalendertage. -->
{% import 'components/calendarday.html' as calendarday %}
<div class="flex-none">
    <div class="flex items-center text-center">
        <!-- Zeigt den Monat und das Jahr an. -->
        <div style="color: #13250e;" class="flex-auto text-lg font-semibold">{{ month }} {{ year }}</div>
    </div>
    <!-- Zeigt Wochentagsabkürzungen an. -->
    <div style="color: #13250e;" class="mt-6 grid grid-cols-7 text-center text-xs leading-6">
        <div>M</div>
        <div>T</div>
        <div>W</div>
        <div>T</div>
        <div>F</div>
        <div>S</div>
        <div>S</div>
    </div>
    <!-- Stellt die Tage des Monats als Gitter dar. -->
    <div class="isolate mt-2 grid grid-cols-7 gap-px text-sm shadow ring-1 ring-neutral">
        {% for week in weeks %}
            {% for entry in week %}
                <!-- Prüft, ob der Tag der aktive Tag ist und ob er im aktuellen Monat liegt. -->
                {% set isCurrentDay = false %}
                {% if entry.day == activeDate.day %}
                    {% set isCurrentDay = True %}
                {% endif %}
                {% set isCurrentMonth = False %}
                {% if entry.month == month %}
                    {% set isCurrentMonth = true %}
                {% endif %}
                <!-- Ruft die Komponente für jeden Tag auf, mit Überprüfung des aktuellen Tages/Monats. -->
                {{ calendarday.calendarday(entry, today, currentDay=isCurrentDay, currentMonth=isCurrentMonth) }}
            {% endfor %}
        {% endfor %}
    </div>
    <!-- Zeigt Informationen zu den Markierungen 'Heute' und 'Ausgewählt' an. -->
    <div class="mt-4 flex flex-col gap-2 items-center">
        <p style="color: #13250e;" class="text-neutral-content">Today</p>
        <p style="color: #13250e;" class="text-info">Selected</p>
    </div>
    <!-- Gibt Anweisungen zur Reservierung und Informationen zum Monatsende. -->
    <div class="mt-4 flex flex-col gap-2 items-center">
        <p style="color: #13250e;" class="text-sm text-center">

            Select which day you would like to reserve. Only possible for the current month. At the end of the month you
            will see the total costs and you can make reservations for the next month
        </p>
    </div>
</div>
