<div class="navbar" style="background-color: #ffffff;">
    <div class="flex-1">
        <a
                class="btn btn-ghost normal-case text-xl"
                href="{{ url_for('rental.index') }}"
        >Company Vehicles</a>
    </div>
    <div style="color: #13250e;" class="flex-none dropdown">
        <button class="btn btn-ghost normal-case text-xl dropdown-toggle">Menu</button>
        <ul class="dropdown-menu">
            {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% else %}
                <li><a href="{{ url_for('rental.accounting') }}">Account</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<footer class="footer">
    <div class="footer-content">
        <div class="text-left mx-auto mx-4">Tobyas Steiner</div>
        <div class="text-center flex-grow">Glas Trösch AG</div>
        <div class="text-right mx-auto mx-4">24. März 2024</div>
    </div>
</footer>
